/* 全局样式表 */
html,
body,
#app {
    height: 100%;
    margin: 0;
    padding: 0;
    min-width: 1470px;

}

.el-breadcrumb {
    margin-bottom: 25px;
}

/* ::-webkit-scrollbar {
    display: none;
} */
body {
    /* overflow-y: hidden; */
}
